.pagination {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  border-top: 1px solid var(--grey);
  @include mq {
    width: 100%;
  }
}

.numberList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  display: grid;
  place-content: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  color: #667085;
  font-family: var(--en);

  &.isActive,
  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
}

.arrow {
  text-decoration: none;
  transition: 0.3s;
  font-family: var(--en);

  &:hover {
    color: var(--main-c);
  }
}