.post {
  & > h1 {
    font-size: 28px;
    font-weight: 900;
    margin: 70px 0 0;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    @include mq {
      font-size: 40px;
    }
  }

  & > h2 {
    font-size: 24px;
    font-weight: 900;
    margin: 60px 0 0;
    border-bottom: 1px solid #ddd;
    @include mq {
      font-size: 30px;
    }
  }

  & > h3 {
    display: flex;
    align-items: center;
    font-weight: 900;
    gap: 8px;
    margin: 30px 0 0;
    font-size: 20px;
    @include mq {
      font-size: 24px;
    }
    &:before {
      content: "";
      width: 3px;
      height: 1em;
      background-color: var(--main-c);
    }
  }

  & > p {
    line-height: 2.2;
    letter-spacing: 0.05em;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1em;
  }
  & > ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1.5em;
  }

  li + li {
    margin-top: 1rem;
  }

  & > ol > li {
    list-style-type: decimal;
  }

  & > ul > li {
    list-style-type: disc;
  }

  & > * + ul,
  & > * + ol {
    margin-top: 1rem;
  }

  table {
    border: 1px solid var(--border-c);
    table-layout: fixed;
    width: 100%;
  }

  th {
    border: 1px solid var(--border-c);
    background-color: var(--bg-c);
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
  }
  
  td {
    border: 1px solid var(--border-c);
    vertical-align: middle;
    padding: 1rem;
  }

  & > * + * {
    margin-top: 2em;
  }
}

.publishedAt {
  color: #808080;
}

.eyecatch {
  position: relative;
}

.category {
  background-color: var(--green);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 1rem;
}

.recommend {
  background-color: var(--red);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 1rem;
}