.sidebar {
  width: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  @include mq {
    right: 0;
    left: unset;
    top: calc(var(--header-height-pc) + 4rem);
    bottom: unset;
  }
}
.switch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid var(--black);
  overflow: hidden;
  @include shadow;
  @include mq {
    display: flex;
    border-radius: 6px 0 0 6px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    border-bottom: none;
  }
}
.switchItem {
  height: 100%;
  width: 100%;
  &:first-child {
    border-right: 1px solid #666666;
    @include mq {
      border-right: none;
      border-bottom: 1px solid #666666;
    }
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 18px;
    width: 100%;
    height: 100%;
    background-color: #dddad5;
    transition: 0.3s;
    @include mq {
      padding: 20px 18px;
      flex-direction: column;
    }

    &:hover,
    &.isActive {
      background-color: black;
      .buttonIcon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(118deg) brightness(103%)
          contrast(102%);
      }
      .buttonText {
        color: var(--white);
      }
    }
    &:focus {
      opacity: 1;
    }
  }
  .buttonText {
    color: #979797;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
    @include mq {
      font-size: 12px;
    }
  }
  .buttonIcon {
    display: grid;
    place-content: center;
    transition: 0.3s;
    filter: invert(51%) sepia(78%) saturate(3%) hue-rotate(82deg) brightness(100%) contrast(94%);
    width: 15px;
    height: 14px;
    @include mq {
      width: 20px;
      height: 14px;
    }
  }
}

.navigation {
  max-width: 100%;
  background-color: var(--lightbrown);
  padding: 0;
  height: 0;
  @include mq {
    @include shadow;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 15rem;
    width: max-content;
    transform: translateX(100%);
    border-radius: 30px 0 0 30px;
    height: auto;
    max-width: 287px;
  }

  &.isShow {
    animation: show-sp 0.6s forwards;
    @include mq {
      animation: show-pc 0.6s forwards;
    }
  }
  &.isHide {
    animation: hide-sp 0.6s forwards;
    @include mq {
      animation: hide-pc 0.6s forwards;
    }
  }
}

.navigationList {
  display: none;
  @include mq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--black);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
}
.navigationItem {
  &:hover {
    .button {
      background-color: var(--black);
    }
    .buttonText {
      color: var(--white);
    }
    .buttonIcon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(118deg) brightness(103%) contrast(102%);
    }
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #dddad5;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.3s;

    &.isActive,
    &:focus {
      background-color: var(--black);
      opacity: 1;
      .buttonText {
        color: var(--white);
      }
      .buttonIcon {
        filter: invert(100%) sepia(1%) saturate(458%) hue-rotate(46deg) brightness(113%)
          contrast(100%);
      }
    }
  }
  .buttonText {
    font-size: 12px;
    transition: 0.3s;
    color: #b3b3b3;
  }
  .buttonIcon {
    display: grid;
    place-content: center;
    transition: 0.3s;
    width: 17px;
    height: 17px;
    filter: invert(100%) sepia(12%) saturate(2854%) hue-rotate(176deg) brightness(76%) contrast(84%);
  }
}
.navigationContent {
  @include mq {
    margin-top: 1rem;
  }

  .content {
    height: 0;
    opacity: 0;
    pointer-events: none;

    &.isActive {
      height: auto;
      opacity: 1;
      pointer-events: all;
    }
  }
}

@keyframes hide-sp {
  from {
    height: auto;
    padding: 1rem;
  }
  to {
    height: 0;
    padding: 0;
  }
}
@keyframes show-sp {
  from {
    height: 0;
    padding: 0;
  }
  to {
    height: auto;
    padding: 1rem;
  }
}
@keyframes hide-pc {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes show-pc {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
