.header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background-color: rgba(35, 0, 0, 0.6) !important;
  border-bottom: 1px solid var(--border-c);
  height: var(--header-height);
  @include mq {
    height: var(--header-height-pc);
  }

  a {
    text-decoration: none;
  }  
}

.home {
  display: grid;
  place-content: center;
  height: 80%;
  max-width: 50%;
  text-decoration: none;
  aspect-ratio: 384 / 44;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.icon {
  position: relative;
  width: 22px;
  height: 22px;
  @include hover_color-change;
}
