.header {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  padding: 10px 3% 0;
  height: var(--header-height);
  @include mq {
    padding: 10px 3%;
    height: var(--header-height-pc);
  }

  a {
    text-decoration: none;
  }

  &.isOpen {
    background-color: transparent;

    .logoText {
      color: var(--white);
    }
  }
}

.home {
  display: grid;
  place-content: center;
  gap: 5px;
  height: fit-content;
  max-width: 87%;
  text-decoration: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  @include mq {
    gap: 8px;
    margin-bottom: 1rem;
  }

  svg {
    height: 30px;
    @include mq {
      height: 51px;
    }
  }

  path {
    transition: fill 0.5s;
  }
}

.logoText {
  letter-spacing: 0.25em;
  font-weight: 500;
  transition: 0.5s;
  font-size: 8px;
  @include mq {
    font-size: 14px;
  }
}

.lists {
  display: none;
  @include mq {
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
.icon {
  position: relative;
  width: 22px;
  height: 22px;
  @include hover_color-change;
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  @include mq {
    display: none;
  }

  &.isOpen {
    .bar {
      background-color: white;
      &:first-child {
        transform: rotate(45deg) translate(8px, 7px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(2px, -2px);
      }
    }
  }
}

.bar {
  width: 21px;
  height: 2px;
  background-color: var(--semiblack);
  transition: 0.5s;
}

.overlay {
  transition: 0.5s;
  position: fixed;
  inset: 0;
  margin: auto;
  transform: scale(0);
  border-radius: 999px;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 6;

  &.isOpen {
    transform: scale(1);
    border-radius: 0;
    width: 100vw;
    height: 100vh;
  }
}

.hamburgerMenu {
  opacity: 0;
  position: absolute;
  top: var(--header-height);
  padding-top: 25px;
  padding-bottom: 80px;
  padding-inline: 10%;
  width: 100%;
  max-height: calc(100vh - var(--header-height));
  pointer-events: none;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.3s;
  }
}

.iconMenuList {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.iconMenu {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;

  & + .bannerMenu {
    margin-top: 1rem;
  }
}

.bannerMenu {
  margin-top: 1rem;
  width: 100%;

  img {
    width: 100%;
  }
}

.navigationList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid var(--black);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.navigationItem {
  &:hover {
    .button {
      background-color: var(--black);
    }
    .buttonText {
      color: var(--white);
    }
    .buttonIcon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(118deg) brightness(103%) contrast(102%);
    }
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #dddad5;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.3s;

    &.isActive,
    &:focus {
      background-color: var(--black);
      opacity: 1;
      .buttonText {
        color: var(--white);
      }
      .buttonIcon {
        filter: invert(100%) sepia(1%) saturate(458%) hue-rotate(46deg) brightness(113%)
          contrast(100%);
      }
    }
  }
  .buttonText {
    font-size: 12px;
    transition: 0.3s;
    color: #b3b3b3;
  }
  .buttonIcon {
    display: grid;
    place-content: center;
    transition: 0.3s;
    width: 17px;
    height: 17px;
    filter: invert(100%) sepia(12%) saturate(2854%) hue-rotate(176deg) brightness(76%) contrast(84%);
  }
}

.navigationContent {
  padding: 1rem;
  background-color: var(--lightbrown);
  .content {
    height: 0;
    opacity: 0;
    pointer-events: none;

    &.isActive {
      height: auto;
      opacity: 1;
      pointer-events: all;
    }
  }
}
