.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  color: var(--black);
  overflow: hidden;
  text-decoration: none;

  &.row {
    @include mq {
      display: grid;
      grid-template-columns: 30% minmax(0, 1fr);
      gap: 1.5rem;
    }

    .title {
      font-size: 14px;
      @include mq {
        font-size: 16px;
      }
    }
  }

  &:hover {
    .head {
      &:before {
        opacity: 1;
        transform: translateY(0);
      }
      &:after {
        opacity: 1;
      }
    }
  }

  // SP用のサイズ
  &.small-sp {
    @include mq(-md) {
      gap: 0.5rem;
    }

    .title {
      @include mq(-md) {
        font-size: 12px;
      }
    }

    .publishedAt {
      @include mq(-md) {
        font-size: 10px;
      }
    }

    .newBadge {
      @include mq(-md) {
        font-size: 10px;
        padding: 10px 20px 0px;
        top: -5px;
        left: -24px;
      }
    }
  }

  &.medium-sp {
    // デフォルトスタイル
  }

  &.large-sp {
    // デフォルトスタイル
  }

  // PC用のサイズ
  @include mq {
    &.small-pc {
      // PC用のsmallスタイル
    }

    &.medium-pc {
      // デフォルトスタイル
    }

    &.large-pc {
      // PC用のlargeスタイル
    }
  }
}

.head {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border-radius: 10px;
  height: fit-content;

  &:before {
    content: 'more';
    width: fit-content;
    height: fit-content;
    z-index: 2;
    color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    pointer-events: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.3);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.newBadge {
  position: absolute;
  top: -5px;
  left: -35px;
  z-index: 1;
  background-color: var(--red, #ff0000);
  transform: rotate(-45deg);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  padding: 20px 35px 0px;
  letter-spacing: 0.05em;
}

.body {
  position: relative;

  > * + * {
    margin-top: 0.5rem;
  }
}
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.75;
}
.text {
  font-size: 14px;
}

.publishedAt {
  font-size: 12px;
  color: var(--semiblack);
}

.link {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
