.link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-bottom: 1px solid var(--border-c);
  font-size: 14px;
  @include mq {
    font-size: 16px;
  }

  &:hover {
    background-color: var(--main-c);
    color: var(--white);
  }
}