.carouselContainer {
  @include mq(-md) {
    padding-top: 1.5rem;
  }
}

// 共通のベーススタイル
%titleBase {
  color: var(--semiblack);
  line-height: 1.25;
}

// span用の共通スタイル
%titleSpan {
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
  @include mq {
    font-weight: medium;
    font-size: 16px;
  }
}

// バリエーション
.titlePickup {
  @extend %titleBase;
  font-size: 20px;
  @include mq {
    font-size: 30px;
  }
  @include mq(-md) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  span {
    @extend %titleSpan;
    @include mq(-md) {
      margin-left: unset;
    }
  }
}

.title {
  @extend %titleBase;
  font-size: 20px;

  span {
    @extend %titleSpan;
  }
}

.titleLg {
  @extend %titleBase;
  font-size: 25px;
}

.newlyGrid {
  position: relative;
  @include mq {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 300px;
    gap: 3rem;
  }
}

.tagContainer {
  > * + * {
    margin-top: 1.5rem;
    @include mq {
      margin-top: 2rem;
    }
  }
}

.newlyContainer {
  > * + * {
    margin-top: 1.5rem;
    @include mq {
      margin-top: 3rem;
    }
  }
}

.bannerContainer {
  display: none;
  @include mq {
    display: block;
  }
}

.bannerList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
  img {
    width: 100%;
  }
}

.tabNavigation {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  overflow: hidden;
  margin: 2rem auto;
  @include mq {
    justify-content: center;
  }
}

.tab {
  padding: 0.25rem 0.35rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  background-color: rgba($color: #cccccc, $alpha: 0.3);
  border-bottom: 2px solid black;
  color: #979797;
  min-width: 90px;
  @include mq {
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    min-width: 127px;
  }

  &:hover {
    background-color: black;
    color: var(--white);
  }

  &.isActive {
    background-color: black;
    color: var(--white);
  }
}

.moreButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  margin: 2rem auto 0;
  padding: 1.1rem 2rem;
  background-color: black;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  width: 90%;
  max-width: 200px;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }

  @include mq {
    display: none;
  }
}

.paginationContainer {
  margin-top: 4rem;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  margin-inline: auto;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  background-color: black;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
