.CardList {
  display: grid;
  gap: 3rem;
}

.small {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.medium {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.large {
  grid-template-columns: 1fr;
}