.Tag {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  font-size: 14px;
  @include mq {
    font-size: 16px;
  }

  &:hover {
    color: var(--main-c);
  }
}

.icon {
  filter: invert(84%) sepia(21%) saturate(1285%) hue-rotate(26deg) brightness(84%) contrast(84%);
  margin-right: 5px;
  width: 18px;
  height: 18px;
  @include mq {
    width: 25px;
    height: 25px;
  }
}