.Tag {
  position: relative;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: #DDDAD5;
  color: #979797;
  border-radius: 999px;

  &:hover {
    background-color: black;
    color: white;
  }

  &.small-sp {
    font-size: 10px;
    padding: 2px 5px;
  }

  &.medium-sp {
    font-size: 12px;
    padding: 2px 10px;
  }
  
  &.large-sp {
    font-size: 14px;
    padding: 7px 15px;
  }

  &.small-pc {
    @include mq {
      font-size: 12px;
      padding: 2px 5px;
    }
  }

  &.medium-pc {
    @include mq {
      font-size: 14px;
      padding: 2px 10px;
    }
  }

  &.large-pc {
    @include mq {
      font-size: 16px;
      padding: 7px 15px;
    }
  }
}

// .icon {
//   filter: invert(84%) sepia(21%) saturate(1285%) hue-rotate(26deg) brightness(84%) contrast(84%);
//   margin-right: 5px;
//   width: 18px;
//   height: 18px;
//   @include mq {
//     width: 25px;
//     height: 25px;
//   }
// }