.Category {
  color: var(--white);
  background-color: var(--main-c);
  height: fit-content;

  &.small-sp {
    font-size: 10px;
    padding: 0.1em 0.5em;
    border-radius: 3px;
  }

  &.medium-sp {
    font-size: 14px;
    padding: 0.1em 1.5em;
    border-radius: 5px;
  }

  &.large-sp {
    font-size: 16px;
    padding: 0.15em 2em;
    border-radius: 7px;
  }

  &.small-pc {
    @include mq {
      font-size: 14px;
      padding: 0.1em 1.5em;
      border-radius: 5px;
    }
  }

  &.medium-pc {
    @include mq {
      font-size: 16px;
      padding: 0.1em 2em;
      border-radius: 5px;
    }
  }

  &.large-pc {
    @include mq {
      font-size: 18px;
      padding: 0.15em 2.5em;
      border-radius: 7px;
    }
  }
}